# Python - Primitive Types

## 1. Numeric types - `int` & `float`
An integer is a number that can be weitten without a fractual component. Hence, when you pass an integer to a variable, Python will automatically assign it as an `int` type.

In [1]:
int_1 = 1
type(int_1)

int

In [3]:
int_2 = "2"
type(int_2)

str

if we add two `int` we will have an addition.

In [4]:
int_1 + int_1

2

if we add two `str` we will concatenate them

In [5]:
int_2 + int_2

'22'

Type conversion:

to convert a str into an int we can wrap into an int function

In [6]:
int(int_2)

2

In [7]:
type(int_2)

str

In [8]:
type(int(int_2))

int

In [9]:
int(int_2) + int(int_2)

4

In [10]:
int("2")

2

In [11]:
int("2a")

ValueError: invalid literal for int() with base 10: '2a'

In [13]:
float_1 = 1.0
type(float_1)

float

In [14]:
float_2 = 2.
type(float_2)

float

In [15]:
float(int_1)

1.0

In [16]:
float(3)

3.0

In [17]:
type(float(int_1))

float

In [18]:
int(float_1)

1

In [19]:
float_3 = 4.757

In [20]:
int(float_3)

4

the int function round down, for this reason we should use the round function, so we don't loose important data

In [21]:
round(float_3)

5

In [22]:
float_4 = "10.24"

In [23]:
type(float_4)

str

In [24]:
float(float_4)

10.24

In [25]:
int(float_4)

ValueError: invalid literal for int() with base 10: '10.24'

In [26]:
int(float(float_4))

10

## 2. String

The `str` type is a special type, because they serve multiple purposes. One of them is to be sort of a general container for all kinds of literals such as numerical values, dates, coordinates, etc.

In [28]:
str_1 = "foo bar"
str_2 = "12345"
str_3 = "12.45"
str_4 = "2020-01-04 09:45:12.1234"
str_5 = "www.ironhack.com"

In [29]:
print(type(str_1))
print(type(str_2))
print(type(str_3))
print(type(str_4))
print(type(str_5))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [30]:
str_1 + str_2 + str_3

'foo bar1234512.45'

In [32]:
str_2 + "; " + str_3 + "; " + str_4

'12345; 12.45; 2020-01-04 09:45:12.1234'

## 3. Boolean
for now, it is mainly important to know that they exist and that they play an essential role, which we will see in later sessions.

In [34]:
# True and False are reserved keywords

bool_1 = True
bool_2 = False

print(bool_1)
print(bool_2)

print(type(bool_1))
print(type(bool_2))

True
False
<class 'bool'>
<class 'bool'>

In [35]:
# true != True

On top of `True` and `False`, every object is truthy, meaning they will all return `True` if converted to a boolean except (among some other edge cases):

- contants defined to be false: `None` and `False` 
- zero of any numeric type: 0, 0.0, 0j, etc.
- empty sequences and collections: [], (), {}, set(), etc.

In [36]:
bool([])

False

In [37]:
bool(0)

False

In [38]:
bool(1)

True

In [39]:
bool("False")

True

In [40]:
bool("")

False

In [41]:
if 1 == 1:
    print("correct")

correct

In [43]:
if 0:
    print("correct")
else:
    print("False")

False