# Python - Strings

## 1. String operations

Concatenation

In [3]:
a = "Hello"
b = "World"

print(a + " " + b)

Hello World

In [5]:
c = "over"
d = "the"
e = "rainbow"

com = " ".join([a, b, c, d, e])

Splitting strings

In [6]:
com.split(" ")

['Hello', 'World', 'over', 'the', 'rainbow']

In [7]:
# whitespace is default
com.split()

['Hello', 'World', 'over', 'the', 'rainbow']

Stripping, trailling or leading whitespaces

In [9]:
f = " Hello World "

f

' Hello World '

In [10]:
f.strip()

'Hello World'

In [11]:
f.rstrip()

' Hello World'

In [12]:
f.lstrip()

'Hello World '

In [13]:
# you don't want to use replace

f.replace(" ", "")

'HelloWorld'

Removing case-sensitivity by lowering all characters

In [17]:
g = ["India", "ice", "Hund", "iris", "Vogel"]

words_with_i = []
for word in g:
    if word.lower().startswith("i"):
        words_with_i.append(word)
        
words_with_i

['India', 'ice', 'iris']

Replace characters

In [21]:
h = "'Is it any wonder?'"
print(h)

'Is it any wonder?'

In [22]:
print("\"Is it any wonder\"")

"Is it any wonder"

In [24]:
print(h.replace("'", '"'))

"Is it any wonder?"

In [28]:
text = "Hello, World. Who? Me!"

text

'Hello, World. Who? Me!'

In [32]:
# method chaining
clean = (text
         .replace(",", "")
         .replace(".", "")
         .replace("?", "")
         .replace("!", ""))

clean

'Hello World Who Me'

In [33]:
signs = ",.?!"

t = text
for char in signs:
    t = t.replace(char, "")

t

'Hello World Who Me'

Removing characters by identifying patterns.

Remove the last character of each 'word'.

In [34]:
text

'Hello, World. Who? Me!'

In [35]:
text.split(" ")

['Hello,', 'World.', 'Who?', 'Me!']

In [37]:
words_only = []

for word in text.split(" "):
    words_only.append(word[:-1])
    
" ".join(words_only)

'Hello World Who Me'

Using regex

In [38]:
import re

In [40]:
word_pattern = r"\w+"
" ".join(re.findall(word_pattern, text))

'Hello World Who Me'

In [41]:
" ".join(re.findall(r"\w+", text))

'Hello World Who Me'

## 2. String interpolation

In [44]:
name = "Whitney Axel"

name

'Whitney Axel'

In [48]:
print(f"Hello, my name is {name}!")

Hello, my name is Whitney Axel!

In [49]:
name_1 = "Ana"

print(f"Hello, my name is {name_1}!")

Hello, my name is Ana!

In [53]:
print(f"Hi, my name is {name + '!'}")

Hi, my name is Whitney Axel!

In [54]:
print(f"Hi, my names are {name*5}")

Hi, my names are Whitney AxelWhitney AxelWhitney AxelWhitney AxelWhitney Axel

Given some table:

| name | fruit | quantity |
|------|-------|----------|
| TC   | Lemon | 7000     |
| Ilse | Apple | 1 |
| Ana | Passionfruit | 10 |
| Alejandro | Mango | 33 |

In [55]:
fruits = [{"name" : "TC",
          "fruit" : "Lemon",
          "quantity" : 7000},
         {"name" : "Ilse",
          "fruit" : "Apple",
          "quantity" : 1},
         {"name" : "Ana",
          "fruit" : "Passionfruit",
          "quantity" : 10},
         {"name" : "Alejandro",
          "fruit" : "Mango",
          "quantity" : 33}]

In [56]:
fruits

[{'name': 'TC', 'fruit': 'Lemon', 'quantity': 7000},
 {'name': 'Ilse', 'fruit': 'Apple', 'quantity': 1},
 {'name': 'Ana', 'fruit': 'Passionfruit', 'quantity': 10},
 {'name': 'Alejandro', 'fruit': 'Mango', 'quantity': 33}]

In [58]:
for student in fruits:
    print(f"{student['name']} has {student['quantity']} {student['fruit']}.")

TC has 7000 Lemon.
Ilse has 1 Apple.
Ana has 10 Passionfruit.
Alejandro has 33 Mango.

Add control flow for plural, using a ternary operator

In [60]:
a = 10
print("singular" if a == 1 else "plural")

plural

In [63]:
for student in fruits:
    print(f"{student['name']} has {student['quantity']} {student['fruit']}\
{'s' if student['quantity'] > 1 else ''}.")

TC has 7000 Lemons.
Ilse has 1 Apple.
Ana has 10 Passionfruits.
Alejandro has 33 Mangos.

Exercise: Use `str.format()`

### 2.1. Using string interpolation to debug

Iterating over a dictionary

In [77]:
ex = {"tree" : "leaf",
     "legume" : "lentil",
     "operating system" : "mac",
     "animal" : "panda"}

In [78]:
type(ex)

dict

In [79]:
ex

{'tree': 'leaf',
 'legume': 'lentil',
 'operating system': 'mac',
 'animal': 'panda'}

In [80]:
for i in [9, 8, 7]:
    print(i)

9
8
7

In [81]:
for i in ex: 
    print(i)

tree
legume
operating system
animal

when you iterate over a dictionary, the i in the for loop is just iterating over the key

In [86]:
i = 1
for entry in ex:
    print(f"This is the {i}. iteration")
    i += 1
    print(f"entry is of type {type(entry)}")
    print(entry)
    print(f"The value is: {ex[entry]}")
    print("-"*20 + '\n')

This is the 1. iteration
entry is of type <class 'str'>
tree
The value is: leaf
--------------------

This is the 2. iteration
entry is of type <class 'str'>
legume
The value is: lentil
--------------------

This is the 3. iteration
entry is of type <class 'str'>
operating system
The value is: mac
--------------------

This is the 4. iteration
entry is of type <class 'str'>
animal
The value is: panda
--------------------

Alternatively:

In [87]:
ex.items()

dict_items([('tree', 'leaf'), ('legume', 'lentil'), ('operating system', 'mac'), ('animal', 'panda')])

In [88]:
list(ex.items())

[('tree', 'leaf'),
 ('legume', 'lentil'),
 ('operating system', 'mac'),
 ('animal', 'panda')]

In [89]:
type(ex.items())

dict_items

In [90]:
for entry in ex.items():
    print(entry)

('tree', 'leaf')
('legume', 'lentil')
('operating system', 'mac')
('animal', 'panda')

Now we have a tuple and the tuple has 2 elements

In [91]:
fish = (1, 2)
print(fish[0])
print(fish[1])

1
2

In [94]:
for entry in ex.items():
    print(f"The key is: {entry[0]}")
    print(f"It's value is: {entry[1]}")
    print("-" * 20 + '\n')

The key is: tree
It's value is: leaf
--------------------

The key is: legume
It's value is: lentil
--------------------

The key is: operating system
It's value is: mac
--------------------

The key is: animal
It's value is: panda
--------------------

Using tuple decomposition / tuple unpacking

In [95]:
fish

(1, 2)

In [96]:
first_fish, second_fish = fish

In [97]:
first_fish

1

In [98]:
second_fish

2

In [99]:
for key, value in ex.items():
    print(f"The key is: {key}")
    print(f"It's value is: {value}")
    print("-" * 20 + '\n')

The key is: tree
It's value is: leaf
--------------------

The key is: legume
It's value is: lentil
--------------------

The key is: operating system
It's value is: mac
--------------------

The key is: animal
It's value is: panda
--------------------