# Data Processing
(pure python)

## 1.Load csv file

csv: comma-separated values
-> A text-fil with comma-separated values

In [1]:
import csv

In [5]:
data = []

with open("data/Sacramentorealestatetransactions.csv", "r") as csvfile:
    real_estate_data = csv.DictReader(csvfile, delimiter = ",")
    i = 0
    for row in real_estate_data:
        print(dict(row))
        print("----------------\n")
        if i == 3:
            break
        i += 1

{'street': '3526 HIGH ST', 'city': 'SACRAMENTO', 'zip': '95838', 'state': 'CA', 'beds': '2', 'baths': '1', 'sq__ft': '836', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '59222', 'latitude': '38.631913', 'longitude': '-121.434879'}
----------------

{'street': '51 OMAHA CT', 'city': 'SACRAMENTO', 'zip': '95823', 'state': 'CA', 'beds': '3', 'baths': '1', 'sq__ft': '1167', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '68212', 'latitude': '38.478902', 'longitude': '-121.431028'}
----------------

{'street': '2796 BRANCH ST', 'city': 'SACRAMENTO', 'zip': '95815', 'state': 'CA', 'beds': '2', 'baths': '1', 'sq__ft': '796', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '68880', 'latitude': '38.618305', 'longitude': '-121.443839'}
----------------

{'street': '2805 JANETTE WAY', 'city': 'SACRAMENTO', 'zip': '95815', 'state': 'CA', 'beds': '2', 'baths': '1', 'sq__ft': '852', 'type': 'Residential', 'sale_date': 'Wed May 21 00:00:00 EDT 2008', 'price': '69307', 'latitude': '38.616835', 'longitude': '-121.439146'}
----------------

In [10]:
data = []

with open("data/Sacramentorealestatetransactions.csv", "r") as csvfile:
    real_estate_data = csv.DictReader(csvfile, delimiter = ",")
    for row in real_estate_data:
        data.append(row)

In [7]:
type(data)

list

In [8]:
type(data[0])

dict

In [11]:
data[:3]

[{'street': '3526 HIGH ST',
  'city': 'SACRAMENTO',
  'zip': '95838',
  'state': 'CA',
  'beds': '2',
  'baths': '1',
  'sq__ft': '836',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '59222',
  'latitude': '38.631913',
  'longitude': '-121.434879'},
 {'street': '51 OMAHA CT',
  'city': 'SACRAMENTO',
  'zip': '95823',
  'state': 'CA',
  'beds': '3',
  'baths': '1',
  'sq__ft': '1167',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '68212',
  'latitude': '38.478902',
  'longitude': '-121.431028'},
 {'street': '2796 BRANCH ST',
  'city': 'SACRAMENTO',
  'zip': '95815',
  'state': 'CA',
  'beds': '2',
  'baths': '1',
  'sq__ft': '796',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '68880',
  'latitude': '38.618305',
  'longitude': '-121.443839'}]

Tasks:

- I. City name Capitalized (Title)
- II. Turn 'zip', 'beds', 'baths', 'sq__ft', 'price' into `int`
- III. Turn 'latitude' and 'longitude' into `float`
- IV. Rename 'sq__ft' to 'sq_ft'
- V. Turn 'sale_date' into a 'YYYY-MM-DD' format

## 2. Make all thosse tasks work on 1 observation

In [14]:
sample = data[4]

### I. Capitalize 'city'

In [15]:
sample["city"]

'SACRAMENTO'

In [16]:
sample["city"].capitalize()

'Sacramento'

In [17]:
sample["city"].title()

'Sacramento'

### II. Turn 'zip' into `int`

In [18]:
int(sample["zip"])

95824

### II.1 Turn the rest into `int`

In [19]:
to_int = ['zip', 'beds', 'baths', 'sq__ft', 'price']

# using list comprehension 

[int(sample[column]) for column in to_int]

[95824, 2, 1, 797, 81900]

In [20]:
# using dict comprehension

{column : int(sample[column]) for column in to_int}

{'zip': 95824, 'beds': 2, 'baths': 1, 'sq__ft': 797, 'price': 81900}

### III. Turn geocoordinates to `float`

In [22]:
to_float = ['latitude', 'longitude']

# using dict comprehension

{col: float(sample[col]) for col in to_float}

{'latitude': 38.51947, 'longitude': -121.435768}

### IV. Rename 'sq__ft' to 'sq_ft'

General: Replace all occurencer of "__" with "_"

In [23]:
# accessing keys of a dictionary

sample.keys()

dict_keys(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude', 'longitude'])

In [24]:
list(sample.keys())

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [30]:
[col.replace("__", "_") for col in sample.keys()]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq_ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

### V. Turn 'sale_data' into 'YYYY-MM-DD' representation

In [33]:
date = sample["sale_date"]

date

'Wed May 21 00:00:00 EDT 2008'

#### V.I. extract year

In [34]:
import re

In [41]:
year_pattern = r"\d{4}$"

re.findall(year_pattern, date)[0]

'2008'

In [42]:
year, = re.findall(year_pattern, date)

In [43]:
year

'2008'

In [44]:
# if we use a comma after variable name, it returns an error if there is more than one value to unpack.

a, = [1, 2]

ValueError: too many values to unpack (expected 1)

#### V.II. Extract month

In [45]:
date

'Wed May 21 00:00:00 EDT 2008'

In [48]:
month_pattern = r"^\w{3}\s(\w{3})\s"
re.findall(month_pattern, date)[0]

'May'

translate string months to month number (MM)

In [49]:
month_dict = {"Jan": "01",
             "Feb": "02",
             "Mar": "03",
             "Apr": "04",
             "May": "05"}

month_dict[re.findall(month_pattern, date)[0]]

'05'

In [50]:
# There is an easier way to do this:

# 1. we create an ordered list with month's names.

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

months

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [51]:
# when we access the index of a month, will show us the index in the list. 

months.index("Jan")

0

In [52]:
# incrementing the index with 1, it returns the correct number of the month. 
# 2. we increment the index with 1

months.index("Jan") + 1

1

In [53]:
# 3. we transform the incremented index into string

str(months.index("Jan") + 1)

'1'

In [54]:
# 4. we concatenate the string with 0, since we want it to have 2 positions

"0" + str(months.index("Jan") + 1)

'01'

In [55]:
# 5. we change the month name to the pattern

"0" + str(months.index(re.findall(month_pattern, date)[0]) + 1)

'05'

In [58]:
# 6. we take care of months that already have 2 position. 

month_number = months.index(re.findall(month_pattern, date)[0]) + 1

In [59]:
month_number

5

In [69]:
month_no = ("0" if month_number < 10 else "") + str(month_number)

#### V.III. extract day

In [63]:
date

'Wed May 21 00:00:00 EDT 2008'

In [66]:
day_pattern = r"^.{8}(\d+)\s"

day = re.findall(day_pattern, date)[0]

In [67]:
day

'21'

#### V.IV. Putting them together

In [70]:
year + "-" + month_no + "-" + day

'2008-05-21'

### 3. Create functions for parsing dates

In [71]:
def extract_year(date_string):
    year_pattern = r"\d{4}$"
    year, = re.findall(year_pattern, date_string)
    return year

In [73]:
extract_year(date)

'2008'

In [74]:
def extract_day(date_string):
    day_pattern = r"^.{8}(\d+)\s"
    day, = re.findall(day_pattern, date)
    return day

In [75]:
extract_day(date)

'21'

In [78]:
def extract_month(date_string):
    month_pattern = r"^\w{3}\s(\w{3})\s"
    month_string, = re.findall(month_pattern, date_string)
    
    # translate string to MM representation
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    month_number = months.index(month_string) + 1
    month_no = ("0" if month_number < 10 else "") + str(month_number)
    return month_no

In [79]:
extract_month(date)

'05'

In [80]:
def extract_date(date_string):
    # since all functions return strings, we can apply string concatenation using the delimiter "-"
    return "-".join([extract_year(date_string), extract_mont(date_string), extract_day(date_string)])

In [81]:
extract_date(date)

'2008-05-21'

## 4. Create a function that processes a row

In [82]:
sample

{'street': '6001 MCMAHON DR',
 'city': 'SACRAMENTO',
 'zip': '95824',
 'state': 'CA',
 'beds': '2',
 'baths': '1',
 'sq__ft': '797',
 'type': 'Residential',
 'sale_date': 'Wed May 21 00:00:00 EDT 2008',
 'price': '81900',
 'latitude': '38.51947',
 'longitude': '-121.435768'}

create a dictionary that applies a function to the corresponding key (column)

In [89]:
# lambda functions return a function withou calling it

conversions = {"city": lambda x: x.title(),
              "zip": lambda x: int(x),
              "beds": lambda x: int(x),
               "baths": lambda x: int(x),
              "price": lambda x: int(x),
              "sq__ft": lambda x: int(x),
              "latitude": lambda x: float(x),
              "longitude": lambda x: float(x),
              "sale_date": extract_date}

In [92]:
# the lambdas are unecessary in non-strings cases. Let's take them out. 

conversions = {"city": lambda x: x.title(),
              "zip": int,
              "beds": int,
               "baths": int,
              "price": int,
              "sq__ft": int,
              "latitude": float,
              "longitude": float,
              "sale_date": extract_date}

In [93]:
new_row = {}

for key, value in sample.items():
    if key in conversions:
        new_row[key] = conversions[key](value)
    else:
        new_row[key] = value

In [94]:
new_row

{'street': '6001 MCMAHON DR',
 'city': 'Sacramento',
 'zip': 95824,
 'state': 'CA',
 'beds': 2,
 'baths': 1,
 'sq__ft': 797,
 'type': 'Residential',
 'sale_date': '2008-05-21',
 'price': 81900,
 'latitude': 38.51947,
 'longitude': -121.435768}

In [98]:
conversions = {"city": lambda x: x.title(),
               "zip": int,
               "beds": int,
               "baths": int,
               "price": int,
               "sq__ft": int,
               "latitude": float,
               "longitude": float,
               "sale_date": extract_date}

def process_row(row, conversion_mapping):
    new_row = {}
    for key, value in row.items():
        if key in conversion_mapping:
            new_row[key.replace("__", "_")] = conversion_mapping[key](value)
        else:
            new_row[key.replace("__", "_")] = value
    
    return new_row

In [99]:
process_row(sample, conversions)

{'street': '6001 MCMAHON DR',
 'city': 'Sacramento',
 'zip': 95824,
 'state': 'CA',
 'beds': 2,
 'baths': 1,
 'sq_ft': 797,
 'type': 'Residential',
 'sale_date': '2008-05-21',
 'price': 81900,
 'latitude': 38.51947,
 'longitude': -121.435768}

## 5. Process all rows

In [104]:
data[:2]

[{'street': '3526 HIGH ST',
  'city': 'SACRAMENTO',
  'zip': '95838',
  'state': 'CA',
  'beds': '2',
  'baths': '1',
  'sq__ft': '836',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '59222',
  'latitude': '38.631913',
  'longitude': '-121.434879'},
 {'street': '51 OMAHA CT',
  'city': 'SACRAMENTO',
  'zip': '95823',
  'state': 'CA',
  'beds': '3',
  'baths': '1',
  'sq__ft': '1167',
  'type': 'Residential',
  'sale_date': 'Wed May 21 00:00:00 EDT 2008',
  'price': '68212',
  'latitude': '38.478902',
  'longitude': '-121.431028'}]

In [106]:
# since data is a list of dictionaries where each dictionary represents a row, we can apply list comprehension

clean = [process_row(row, conversions) for row in data]

## 6. Write processed dataset to a csv

In [107]:
clean[0].keys()

dict_keys(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq_ft', 'type', 'sale_date', 'price', 'latitude', 'longitude'])

In [110]:
with open("data/sacramento_clean.csv", "w") as outfile:
    fieldnames = list(clean[0].keys())
    writer = csv.DictWriter(outfile, fieldnames = fieldnames)
    
    writer.writeheader()
    for row in clean:
        writer.writerow(row)