In [1]:
import pandas as pd
import numpy as np

In [2]:
student_port = pd.read_csv("student_port_clean.csv")

In [3]:
student_port.head()

,Unnamed: 0,school,sex,age,address,family_size,parent_status,mothers_education,fathers_education,mothers_job,...,family_relation,freetime,out_with_friends,daily_acohol_cons,weekend_alcohol_cons,health,absences,first_grade,second_grade,final_grade
0,0,Gabriel Pereira,Female,18,Urban,4 or more,Apart,higher,higher,at_home,...,good,normal,high,very low,very low,normal,4,0,11,11
1,1,Gabriel Pereira,Female,17,Urban,4 or more,Together,primary,primary,at_home,...,excellent,normal,normal,very low,very low,normal,2,9,11,11
2,2,Gabriel Pereira,Female,15,Urban,3 or less,Together,primary,primary,at_home,...,good,normal,low,low,normal,normal,6,12,13,12
3,3,Gabriel Pereira,Female,15,Urban,4 or more,Together,higher,5th - 9th,health,...,normal,low,low,very low,very low,excellent,0,14,14,14
4,4,Gabriel Pereira,Female,16,Urban,4 or more,Together,secondary,secondary,other,...,good,normal,low,very low,low,excellent,0,11,13,13

In [6]:
len(student_port["daily_acohol_cons"])

649

In [8]:
len(student_port["weekend_alcohol_cons"])

649

In [9]:
student_port["sex"].value_counts()

Female    383
Male      266
Name: sex, dtype: int64