In [1]:
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
import getpass

%matplotlib inline
sns.set_style("white")

ModuleNotFoundError: No module named 'pymysql'

In [2]:
conn = pymysql.connect(host = "relational.fit.cvut.cz",
                      port = 3306,
                      user = "guest",
                      passwd = getpass.getpass(),
                      db = "stats")
conn

NameError: name 'pymysql' is not defined

# Time Series

## No. of orders

In [ ]:
daily_orders_query = """
SELECT
    DATE(order_purchase_timestamp) AS date_id,
    COUNT(*)                       AS 
"""

In [ ]:
daily_order.assing(day_of_week = daily_orders["date_id"].dt.dayofweek)

In [ ]:
weekly_orders = daily_orders.copy()

In [ ]:
weekly_orders = weekly_orders.assing(weekly_orders["date_id"] - pd.to_timedelta(weekly_orders["date_id"].dt.dayofweek, unit = "D"))

In [ ]:
weekly_orders = (weekly_orders
                 .groupby("week_id")
                 .agg({"no_of_orders" : "sum"})
                 .reset_index())