### Tuples

In [1]:
chocolates = ('dark', 'milk', 'semi sweet')

In [4]:
# we retrieve values from a tuple in the same way that we would with a string or list

chocolates[0]

'dark'

In [5]:
# we can't add new values to a tupple

chocolates[3] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [7]:
len(chocolates)

3

In [8]:
chocolates[10]

IndexError: tuple index out of range

In [9]:
# we can iterate through tuples just like we iterate through lists. 

for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

### Dicts

In [10]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [11]:
contacts.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [12]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [13]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [14]:
contacts['Pete'] = '312-555-1111'

In [15]:
contacts['Paul'] = '312-555-4444'

In [16]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-4444'), ('George', '312-555-3333'), ('Ringo', '312-555-2222'), ('Pete', '312-555-1111')])

In [17]:
del contacts['Pete']

In [18]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-4444'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [19]:
empty_dict = {}

In [20]:
# we can use keys to iterate through the keys, values to iterate through the values and items to
# iterate through both simultaneosly

for i in contacts.keys():
    print(i)

John
Paul
George
Ringo

In [21]:
for i in contacts.values():
    print(i)

312-555-1234
312-555-4444
312-555-3333
312-555-2222

In [22]:
for k, v in contacts.items():
    print(k + ': ' + v)

John: 312-555-1234
Paul: 312-555-4444
George: 312-555-3333
Ringo: 312-555-2222

### Dict Comprehensions

Just like list comprehension, we can iterate through a dict to generate a new list or new dict.

In [25]:
# add the country code

international = {k: '+1' + v for k, v in contacts.items()}
for k, v in international.items():
    print(k + ': ' + v)

John: +1312-555-1234
Paul: +1312-555-4444
George: +1312-555-3333
Ringo: +1312-555-2222

### Sets

Sets are unordered collections of unique elements.

In [27]:
# defining a set

letters = set()

In [28]:
letters.add('a')

print(letters)

{'a'}

In [29]:
letters.remove('a')

print(letters)

set()

### Union, Intersection and Difference

In [30]:
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

# Find the unisex names by finding the intersection
unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

{'Madison', 'Logan'}

In [31]:
# Find the list of all names without duplicates
all_names = boy_names.union(girl_names)
print(all_names)

{'Mary', 'John', 'Madison', 'Logan', 'Alexander', 'Joanna'}

In [32]:
# Find the difference between both sets
boy_only_names = boy_names - girl_names
print(boy_only_names)

{'Alexander', 'John'}