# Mapping, Reducing and Filtering

Mapping and filtering are important concepts in functional programming. 

## Mapping
The goal of using the `map()` function is to apply a function to a sequence. It takes a function as an argument as well as a sequence and returns a sequence with the function applied to every element in the sequence.

In [1]:
# Create a function that divides a number by 2 and returns the result

def half(x):
    return x / 2

In [2]:
# Now let's apply to a list of numbers

l = [10, 12, 34, 23]

map(half, l)

In [3]:
# it creates a map object which is an iterable object. 
#create a list of the result

list(map(half, l))

[5.0, 6.0, 17.0, 11.5]

In [4]:
# create a set of the result

set(map(half, l))

{5.0, 6.0, 11.5, 17.0}

In [5]:
# can we create a tuple?

tuple(map(half, l))

(5.0, 6.0, 17.0, 11.5)

## Filtering

the filter function takes a function and a sequence and returns an iterable. The goal is to use the function we pass to remove elements from our sequence.

returns True for all elements we want to keep and False for the ones we want to remove.

In [6]:
# Create a function that returns True if a number is odd and False if it is even. 

filter(lambda x: (x % 2) == 1, l)

In [7]:
# create a list with results

list(filter(lambda x : (x % 2) == 1, l))

[23]

### Reducing

This function is not stardard in Python and needs to be imported from the functools library.

The reduce function starts from the beginning of the sequence and operates on two elements at a time. It takes 2 elements and returns 1.

In [8]:
# Create a lambda expression that will take two elements and sum them.

summation = lambda a, b: a + b

In [9]:
from functools import reduce

In [10]:
l = [10, 12, 34, 23]
reduce(lambda a, b: a + b, l)

79

In [11]:
# using reduce to find the maximum of a list

reduce(lambda a, b: a if a > b else b, l)

34

### Functional PRogramming in Pandas

we can use the apply() function to apply a function to a dataset

In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame(np.random.randn(4, 3), columns = ['a', 'b', 'c'])

df

          a         b         c
0  0.258829 -0.061420  1.568910
1  0.061416  0.726086 -0.278180
2 -0.194694 -0.721663 -0.893884
3 -0.726112  0.377214  0.033698

In [14]:
# we can use the half() function we defined earlier and apply it to every cell in the dataframe

df.apply(half)

          a         b         c
0  0.129415 -0.030710  0.784455
1  0.030708  0.363043 -0.139090
2 -0.097347 -0.360831 -0.446942
3 -0.363056  0.188607  0.016849

In [15]:
# we can define an aggregate function that will return the range of a column

def range_func(x):
    return max(x) - min(x)

In [16]:
# than apply the function to our dataframe

df.apply(range_func)

a    0.984941
b    1.447748
c    2.462794
dtype: float64