## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[44, 7, 13, 85, 37, 48, 87, 23, 90, 79, 49, 27, 66, 67, 70, 2, 73, 11, 63, 74, 12, 24, 5, 83, 32, 91, 99, 38, 72, 10, 16, 76, 55, 15, 25, 14, 3, 95, 42, 98, 31, 71, 4, 93, 84, 58, 57, 52, 77, 78, 61, 8, 1, 59, 51, 94, 21, 9, 34, 82, 47, 69, 96, 19, 6, 33, 88, 60, 50, 75, 54, 81, 92, 39, 45, 28, 62, 29, 0, 36]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = [random.randint(0, 100) for i in range(80)]
print(sample_list_2)
print(len(sample_list_2))

[2, 94, 90, 8, 65, 59, 19, 71, 69, 50, 59, 40, 26, 19, 94, 55, 5, 69, 72, 12, 37, 41, 61, 60, 82, 53, 39, 7, 51, 86, 14, 88, 79, 40, 43, 89, 30, 18, 60, 6, 36, 2, 21, 61, 79, 66, 92, 68, 7, 33, 55, 89, 39, 18, 82, 73, 1, 19, 1, 45, 60, 80, 51, 73, 94, 72, 61, 10, 35, 77, 77, 32, 92, 72, 100, 18, 27, 87, 29, 98]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

# no because sample_list_2 don't has just unique elements

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2

print(set3)

{0, 3, 4, 9, 11, 13, 15, 16, 23, 24, 25, 28, 31, 34, 38, 42, 44, 47, 48, 49, 52, 54, 57, 58, 62, 63, 67, 70, 74, 75, 76, 78, 81, 83, 84, 85, 91, 93, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)

{65, 35, 68, 100, 40, 41, 43, 80, 18, 53, 86, 89, 26, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1 & set2
print(set5)

{1, 2, 5, 6, 7, 8, 10, 12, 14, 19, 21, 27, 29, 32, 33, 36, 37, 39, 45, 50, 51, 55, 59, 60, 61, 66, 69, 71, 72, 73, 77, 79, 82, 87, 88, 90, 92, 94, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
len(set3) + len(set4) + len(set5) * 2 == len(set1) + len(set2)

True

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 42, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
if set1 == set6:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# first need to transform in list
my_list = list(set1)
# we can pop the first element (0) from the list
my_list.pop(0)
# turn back to set
set1 = set(my_list)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 21, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 42, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 57, 58, 59, 60, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# define a list of elements to remove
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# iterate through this list to see if element is in set1
for item in list_to_remove:
    if item in set1:
        # discard elements from set 1
        set1.discard(item)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 23, 24, 25, 27, 28, 32, 33, 34, 36, 37, 38, 42, 44, 45, 47, 48, 50, 52, 54, 55, 57, 58, 60, 62, 63, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 98}